<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form method="post" , action="/add_tweet">
    <p>please fill your information to add tweet:)</p>

    <div>
        <label>Title*</label>
        <div><input type="title" name="title" id="title1" required></div>
    </div>

    <div>
        <label>Text*</label>
        <div class="input-group">
            <input type="text" name="text" id="text1" required></div>
            
        </div>
    </div>

    <div>
        <input type="submit">
    </div>
 
 
</form>

</body>

</html>